.contato {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ctt-content {
    background-color: #2f493b;
    padding: 15px;
    width: 50%;
    height: 65%;
    border-radius: 15px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.336);
}