.contato {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background-color: #2f493b;
    padding: 15px;
    width: 50vw;
    height: 70%;
    border-radius: 15px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.658);
}

#btn {
    background-color: #F3EAEB;
    color: black;
    border: none;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.466);
}

@media (max-width: 700px) {
    form {
        width: 80vw;
    }
}