.skills {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: white;
    background-image: linear-gradient(to right, #121935, #162b46)
}


.logos {
    display: flex;
    
    justify-content: center;
    width: 700px;
}

.skills h1 {
    margin: 15px 0px;
    text-align: center;
}

table {
    width: 100%;
    border: none;
}

table img {
    width: 70px;
}

td {
    padding: 10px;
    text-align: center;
    border: none;
}

td:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.5s;
}

.desc {
    padding: 10px;
    border: 1px black solid;
}

.desc p {
    height: 100%;
    text-indent: 10px;
    font-size: 1.5em;
}


@media (max-width: 550px) {
    .logos {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    td {
        padding: 10px;
    }

    table img {
        width: 70%;
    }

    table {
        width: 40%;
    }

    .desc {
        width: 60%;
        margin-top: 10px;
    }
}

