.skills {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;

}


.logos {
    display: flex;
    border: 1px black solid;
    justify-content: center;
    width: 700px;
}

.skills h1 {
    margin: 15px 0px;
}

table {
    width: 100%;
}

td {
    padding: 30px;
    text-align: center;

}

td:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.5s;
}

.desc {
    padding: 10px;
}


