@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caprasimo&family=Open+Sans:wght@500&display=swap');

.sobre{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    color: #F3EAEB;
    background-image: linear-gradient(to right, #385947, #5D8C64);
    font-family: 'Open Sans', sans-serif;
}

.sobre-container h3 {
    margin-top: 10px;
    text-transform: uppercase;
}
.icones img {
    width: 40px;
    margin-top: 60px;
    margin: 20px ;
} 

.icones {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.icones img:hover {
    cursor: pointer;
    transform: scale(1.5);
    transition: all .5s ease-in-out;
}

.sobre-container {
    padding: 20px;
    margin: auto;
    width: 900px;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.sobre-container p {
    color: white;
    text-align: justify;
    margin: 10px;
    line-height: 1.5em;
    margin-bottom: 10px;
}
.sobre-container h1 {
    color: white;
    text-transform: uppercase;
}

@media (max-width: 600px) {
    .sobre-container {
        width: 90%;
        height: 70%;
        padding: 5px;
    }

    .sobre-container p {
        font-size: 1em;
        line-height: 1em;
    }

    .icones {
        flex-wrap: wrap;
        margin-top: 5px;
    }

    .icones img {
        width: 20px;
        margin: 10px;
    }
}

@media (max-width: 300px) {
    .sobre-container p {
        font-size: 0.8em;
        line-height: 1em;
    }
    .icones img {
        width: 20px;
        margin: 5px;
    }
}